{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["> 0.5%", "last 2 versions", "not dead"]
      }
    }]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
